node_modules
.env
dist
build
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage
.idea
.vscode
*.sublime-workspace
*.sublime-project
*.tgz
*.swp
*.tmp
*.bak
*.orig
*.patch
*.lock
package-lock.json
yarn.lock
.pnpm-debug.log
test-results/
*.tsbuildinfo